doctype html
html
  head
    title UMANG DANCE ACADEMY
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo 
            img(src="static/dance images.jpg")
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/contact") Contact US ]
        li #[a(href="/") Class Info]
    block content
    footer#footer
        | Copyright © 2019 UmangDanceAcademy.com | All Rights Reserved